{% extends "template.html" %}

{% block titulo %}
Perfil
{% endblock %}

{% block conteudo %}
<h1 class="text-primary text-center py-5">Perfil</h1>

<div class="card mx-auto" style="width: 18rem;">
  <!-- Espaço para imagem -->
  <img src="#" class="card-img-top" alt="Foto do Usuário">
  
  <div class="card-body text-center">
    <h5 class="card-title">Usuário: Ze Bonitinho</h5>
    <p class="card-text">Aqui ficam informações do perfil do usuário.</p>
    <a href="#" class="btn btn-primary">Editar Perfil</a>
  </div>
</div>
{% endblock %}