{% extends "template.html" %}

{% block titulo %}
Produtos
{% endblock %}

{% block conteudo %}
<h1 class="text-success text-center py-5">Produtos</h1>

<div class="row">
  <!-- Produto 1 -->
  <div class="col-md-4">
    <div class="card mb-4">
      <!-- Espaço para imagem -->
      <img src="#" class="card-img-top" alt="Imagem Produto 1">
      <div class="card-body">
        <h5 class="card-title">Produto 1</h5>
        <p class="card-text">Descrição do produto 1.</p>
        <a href="#" class="btn btn-primary">Comprar</a>
      </div>
    </div>
  </div>

  <!-- Produto 2 -->
  <div class="col-md-4">
    <div class="card mb-4">
      <!-- Espaço para imagem -->
      <img src="#" class="card-img-top" alt="Imagem Produto 2">
      <div class="card-body">
        <h5 class="card-title">Produto 2</h5>
        <p class="card-text">Descrição do produto 2.</p>
        <a href="#" class="btn btn-primary">Comprar</a>
      </div>
    </div>
  </div>

  <!-- Produto 3 -->
  <div class="col-md-4">
    <div class="card mb-4">
      <!-- Espaço para imagem -->
      <img src="#" class="card-img-top" alt="Imagem Produto 3">
      <div class="card-body">
        <h5 class="card-title">Produto 3</h5>
        <p class="card-text">Descrição do produto 3.</p>
        <a href="#" class="btn btn-primary">Comprar</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}